<h1><%= @titulo %> </h1>
<p></p>
<p></p>
<p></p>
<%= image_tag("pregunta.jpg",:class=>"imagen_vista")%>
<h3>¿Que tipo de ofertas maneja Hay Un Camino ?</h3>
<p><b>Hay Un Camino</b> maneja la oferta en base a dos cosas:</p>
<ul>
	<li>Fecha especiales en la cual se aplica un descuento</li>
	<li>Por el numero de envios que realizo el cliente con nosotros , se aplica un descuento por si fiabilidad con nosotros</li>
</ul>

<h3>¿Donde puedo hacer seguimiento de mis paquetes?</h3>
<p>Hay un seccion especializadas para esta opcion , solo debe introducir el codigo asigando a su envio para hacerle seguimiento</p>

<h3>¿Que beneficios tengo al estar registrado al sistema?</h3>
<p>Te ofrecemos una gran cantidad de funciones otorgadas por el sistema.Al igual que la posibilidad de ver informes sobre las peticiones hechas , solo debes contactar a un Administrador para esta función. </p>