<h1><%=@titulo %></h1>
<p align="justify">
	Somos un grupo de estudiantes de la Universidad Central de Venezuela, culminando nuestras respectivas carreras. Juntos formamos <b>Hay Un Camino </b> con la idea de modernizar el mercado en base a las empresas de envío en Venezuela. Ofrecemos una gran cantidad de servicios a nuestros clientes, teniendo en cuenta que el cliente es todo en este mundo del marketing y comercio electrónico.

	El equipo de <b>Hay Un Camino </b> esta conformado por :
	<p></p>
	<ul>
		<li>Francisco López , CEO  y confundador. </li>
		<p></p>
		<li>Leonardo Da Silva ,CFO y confundador.  </li>
		<p></p>
		<li>Javier Galarza , COO y confundador.</li>
	</ul>
	<p></p>
	<p></p>
	<p align="justify">La idea de esta empresa es mejorar los servicios de distribucion a otras organziaciones, tomando en cuenta sus necesidades y nunca dando la espalda hacia el futuro. Usamos lo mas alto en tecnologia para hacer llegar la información hacia nuestro clientes, simpre brindando cariño y respecto hacia ellos.</p>
</p>