<h1><%=@titulo %></h1>
<p align="justify">
	Somos un grupo de estudiantes de la Universidad Central de Venezuela, culminando nuestras respectivas carreras. Juntos formamos <b>Hay Un Camino </b> con la idea de modernizar el mercado en base a las empresas de envio en Venezuela. Ofrecemos una gran cantidad de servicio a nustros clientes , teniendo en cuenta que el cliente es todo en este mundo del marketing y comercio electronico.

	El equipo de <b>Hay Un Camino </b> esta comformado por :

	<ul>
		<li>Francisco López , CEO  y confundador </li>
		<p></p>
		<li>Leonaro Da Silva ,CFO y confudador  </li>
		<p></p>
		<li>Javier Galarza , COO y confundador</li>
	</ul>

</p>