<h1><%= @titulo %></h1>
<p></p>


<div class="pikachoose">
	<ul id="pikame">
		<li><%= image_tag("Hay-un-Camino-vertical.png")%><span>Logo de la compañia.</span></li>
		<li><%= image_tag("vehiculo.jpeg")%><span>Vehiculo de la compañia.</span></li>
		
		<li><%= image_tag("instalaciones.jpeg")%><span>Instalaciones.</span></li>
	</ul>
</div>
<p></p>
<p></p>
<p></p>
<p align="justify">
	Se implanta en Venezuela desde el año 1988 iniciando gestiones bajo una estructura centralizada para evaluar el mercado comercial y las necesidades de servicio que imperaban en el país; tras evaluar la potencialidad de la empresa, Hay un Camino decide dar paso a la inversión de quienes confiaban en la marca para maximizar la explotación en cada territorio geográfico.
</p>
<p align="justify">
	La mayor fortaleza de Hay un Camino se encuentra en su recurso humano; valores como la responsabilidad, dedicación, seriedad, excelencia y vocación de servicio definen a quienes con esfuerzo, familiaridad y honestidad forman el equipo de trabajo que día a día hace posible que el país se mantenga conectado a través de la infraestructura de transporte que permite el traslado y entrega efectiva de las  encomiendas que son movilizadas mediante la Red. 
</p>
<p aligm="justify">
Es la única empresa que se autopenaliza por no cumplir con el compromiso establecido en el horario de entrega garantizado de sus servicios, compensando el precio del envío cuando es entregado con demora, en una población donde existe hora garantizada.
</p>