<h1><%= @titulo %> </h1>
<p></p>
<p></p>
<p></p>
<%= image_tag("pregunta.jpg",:class=>"imagen_vista")%>
<h3>¿Qué tipo de ofertas maneja Hay Un Camino?</h3>
<p><b>Hay Un Camino</b> maneja la oferta en base a dos cosas:</p>
<ul>
	<li>Fechas especiales en la cual se aplica un descuento.</li>
	<li>Por el número de envíos que realizó el cliente se aplica un descuento por su fidelidad con nosotros.</li>
</ul>

<h3>¿Dónde puedo hacer seguimiento de mis paquetes?</h3>
<p>Hay un sección especializada para esta opción, solo debe introducir el código asignado a su envío para hacerle seguimiento.</p>

<h3>¿Qué beneficios tengo al estar registrado en el sistema?</h3>
<p>Te ofrecemos una gran cantidad de funciones otorgadas por el sistema. Al igual que la posibilidad de ver informes sobre las peticiones hechas, solo debes contactar a un Administrador para esta función. </p>