.inputArea
{
	font-family: Arial, Sans-Serif;
	font-size: 13px;
	padding: 10px;
}

.inputArea input[type="text"], .inputArea input[type="password"]
{
	font-family: Arial, Sans-Serif;
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	border: solid 1px #85b1de;
	width: 300px;
	background-color: #EDF2F7;
}

.inputArea input[type="submit"]
{
	font-size: 15px;
}

.inputArea label{
	font-size: 15px;
}

.ejemplo{
	color: #0080ff;
	size: 2;
}

.alerta_reporte{
	color: red;

}
